<link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">

<md-toolbar color="primary" >

    <span routerLink="/" style="cursor:pointer;">My Treasured Health</span>

    <span class="app-toolbar-filler"></span>

    <button md-button class="top-button" routerLink="/Breakfast">Breakfast</button>

    <span class="app-toolbar-filler"></span>

    <button md-button  class="top-button" routerLink="/Snacks">Snacks</button>
    
    <span class="app-toolbar-filler"></span>

    <button md-button  class="top-button" routerLink="/Side_dishes">Side dishes</button>
    
    <span class="app-toolbar-filler"></span>
    
    <button md-button  class="top-button" routerLink="/Entrees">Entrees</button>
    
    <span class="app-toolbar-filler"></span>
    
    <button md-button  class="top-button" routerLink="/Desserts">Dessert</button>
    
    <span class="app-toolbar-filler"></span>

</md-toolbar>
<router-outlet></router-outlet>