
<div class="topBar">
    <span routerLink="/" style="cursor:pointer;"  class="AppTile">My Treasured Health</span><br>
    <button md-button class="top-button"  routerLink="/breakfast">Breakfast</button>
    <button md-button  class="top-button" routerLink="/snacks">Snacks</button>
    <button md-button  class="top-button" routerLink="/side-dishes">Side dishes</button>
    <button md-button  class="top-button" routerLink="/entrees">Entrees</button>
    <button md-button  class="top-button" routerLink="/desserts">Dessert</button>
</div>

<router-outlet></router-outlet>