
body{
    margin:0;
    background-image: url("assets/images/back.jpg");
    background-position: -10% 110%;
    background-repeat: no-repeat;
    background-size: 30em 30em;
    
}

html{
    height:100%;
}