
<!--Add a search bar-->
<div fxLayoutAlign="center start"   fxLayout="column">



<md-card  fxFlex.gt-xs="400px"  *ngFor="let recipe of recipes ; let index = index"  class="recipecard">
    <md-card-header>
      <md-card-title>{{recipe.title[0].value}}</md-card-title>
    </md-card-header>
    <img md-card-image src="{{recipe.images[0].url}}">
    <md-card-content >
      <p [innerHTML]="recipe.body[0].summary">
        
      </p>
    </md-card-content>
    <md-card-actions>
      <button md-button routerLink="recipe/{{recipe.uuid[0].value}}">Go to recipe</button>
    </md-card-actions>
  </md-card>








</div>

