

<!--Add a search bar-->
<div fxLayout="column"  fxLayoutAlign="space-around center" *ngIf="recipes.length>0">
    <h1 class="title">{{sectionName}}</h1>
  <md-card class="recipeCard" *ngFor="let recipe of recipes">
    <md-card-header>
    <md-card-title>{{recipe.title[0].value}}</md-card-title>
    </md-card-header>
    <img *ngIf="recipe.field_foodimage.length>0" md-card-image src="{{recipe.field_foodimage[0].url}}">
    <md-card-content>
      <p *ngIf="recipe.body.length>0" [innerHTML]="recipe.body[0].summary"></p>
    </md-card-content>
    <md-card-actions>
      <button md-raised-button routerLink="recipe/{{recipe.uuid[0].value}}" color="primary">Go to recipe</button>
    </md-card-actions>
  </md-card>
</div>


  

